<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Run note</title>
    <script src="/send_url.js"></script>
    <link rel = "stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">ランニングメニューアプリ</h2>
        <h1 class="title">Run note</h1>
        <p class="description">
          Run noteは、練習内容をリストアップするサービスです。
          <br>
          今日の練習をリストアップしてみましょう。
        </p>
        <a href="/index" class="index-button">一覧を見る</a>
      </div>
      <div class="top-image">
        <img src="/images/top.jpg">
      </div>
    </div>
  </body>
</html>
